@model TranscriptMgt.Models.TranscriptMV
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Transcript</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="container-fluid">
        <table class="table table-borderless">
            <tr>
                <td>
                    <img src="~/Content/unilogo.png" height="200" width="200" />
                </td>
                <td class="text-center">
                    <h1>Kardan University</h1>
                    <h3>Kabul, Afghanistan</h3>
                    <hr />
                    <h3>Official Transcript</h3>
                </td>
                <td>
                    <img src="~/Content/stddefault.png" height="200" width="200" />
                </td>
            </tr>
        </table>
        <h2 class="text-center">
           Bachelor of computer Science
        </h2>
        <table class="table table-bordered">

            <tr>
                <td colspan="9">
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td>Mohammad Ishaq</td>
                        </tr>
                        <tr>
                            <td>Father Name:</td>
                            <td>Mashuq</td>
                        </tr>
                        <tr>
                            <td>Reg.No:</td>
                            <td>210-1003022</td>
                        </tr>
                        <tr>
                            <td>Enrol No:</td>
                            <td>51245632</td>
                        </tr>
                        <tr>
                            <td>Session:</td>
                            <td>2010-2014</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="9">1st Semester, Spring 2010</td>
            </tr>
            <tr style="background-color:lightgray"> 
                <td>Course Code</td>
                <td>Course Title</td>
                <td>Total Marks</td>
                <td>Obtained Marks</td>
                <td>Grade</td>
                <td>Grade</td>
                <td>Value</td>
                <td>Cr.Hrs</td>
                <td>Grade Point</td>
                <td>GPA</td>
            </tr>
        </table>
    </div>


    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

</body>
</html>
